<!DOCTYPE html>
<html lang="en" ng-app="appRequesicoes" >
<head>
	<meta charset="UTF-8">
	<title>CadastroClientes</title>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="appUsuario.js"></script>
</head>
<body ng-controller="usuariosController">	
	<br>
	<div class="container">
		<div class="jumbotron">
			<h1>Olá usuario,</h1>
			<p class="lead">Bem vindo a minha aplicação, feita nas seguintes tecnologias, spring boot, spring data, angular e bootstrap.
				Voce pode cadastrar Usuarios e requisições com as funcionalidades de editar, buscar e deletar.</p>
			<hr class="my-4">
			<b>Faça bom aproveito!</b> 
		</div><!--/jumbotron -->
		<div class="row">
			<div class="col-md-6">
				<h1><span class="badge badge-pill badge-dark">Área de Usuarios</span></h1><br>

			</div>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="usuarioBusca" placeholder="Busca por Usuario....">
				<button class="btn btn-info"  ng-click="buscarUsuario()"  >Buscar</button>
			</div>
		</div>

		<div class="table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Cpf</th>
						<th>E-mail</th>
						<th>Edição</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usuario in usuarios">
						<td>{{usuario.idUsuario}}</td>
						<td>{{usuario.nome}}</td>
						<td>{{usuario.cpf}}</td>
						<td>{{usuario.email}}</td>
						<td>
							<button type="button"  class="btn btn-info"  ng-click="alterarUsuario(usuario)"><span class="ion-edit"></span></button>
							<button type="button" class="btn btn-danger" ng-click="confirmaDeletar(usuario)">
							<span class="ion-trash-a"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!--Tabela-->
		<br>
		<hr>

		<br>
	
		<div class="row">
			<div class="col-md-6">
				<a href="index.html" class="btn btn-primary btn-lg btn-block">Área de requesição</a>
			</div>
			<div class="col-md-6">
				<a href="cadastroUsuario.html" class="btn btn-success btn-lg btn-block">Cadastrar Usuario</a>
			</div>

		</div><!-- /row-->
	</div><!--Container-->
	<br><br>









	
	<!-- <a href="index.html">Área de Requesição</a>
	{{nome}}
	<br/>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>NOME</th>
			<th>CPF</th>
			<th>Edição</th>
		</tr>
		<tr ng-repeat="usuario in usuarios">
			<td>{{usuario.idUsuario}}</td>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.cpf}}</td>
			<td>
				<input type="button" value="Alterar" ng-click="alterarUsuario(usuario)"/>
				<input type="button" value="Deletar" ng-click="deletarUsuario(usuario)"/>
			</td>
		</tr>
	</table>

	<br/>
	<hr/>
	<h1>Cadastro Usuarios</h1>
	<br/>
	<form name="formCadastroUsuario" >
		Nome:
		<br/>
		<input type="text" name="nome" ng-model="usuario.nome" required="true"/>
		<span ng-class="error" ng-show="formCadastroUsuario.nome.$error.required">*Obrigatorio</span>
		<br/>
		CPF:
		<br/>
		<input type="text" ng-model="usuario.cpf" />
		<br/>
		<input type="submit" ng-click="salvarUsuario()" value="Salvar Usuario"/>
		<input type="submit" ng-click="cancelarUsuario()" value="Cancelar"/>
		

	</form> -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>